@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Inter Fallback", system-ui, sans-serif;
  --font-serif: "Source Serif 4", "Source Serif 4 Fallback", Georgia, serif;
  --font-mono:
    "JetBrains Mono", "JetBrains Mono Fallback", ui-monospace, monospace;
}

@layer base {
  *::selection {
    background-color: var(--color-neutral-200);
  }
}
