@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Inter Fallback", system-ui, sans-serif;
  --font-serif: "Lora", "Lora Fallback", Georgia, serif;
  --font-mono:
    "JetBrains Mono", "JetBrains Mono Fallback", ui-monospace, monospace;

  --breakpoint-xs: 32rem;

  --text-2xs: 0.625rem;
  --text-2xs--line-height: calc(0.75 / 0.625);

  --color-neutral-50: #faf9f5;
  --color-neutral-100: #f5f2ec;
  --color-neutral-200: #e8e6dc;
  --color-neutral-300: #d4d2c9;
  --color-neutral-400: #adaba2;
  --color-neutral-500: #87867f;
  --color-neutral-600: #73726d;
  --color-neutral-700: #5e5d59;
  --color-neutral-800: #3e3d3b;
  --color-neutral-900: #1f1e1d;
  --color-neutral-950: #0f0f0e;

  --color-blue-50: #f5f7fa;
  --color-blue-100: #ebf1f7;
  --color-blue-200: #d6e4f5;
  --color-blue-300: #b3cff0;
  --color-blue-400: #44a6e4;
  --color-blue-500: #5e7edf;
  --color-blue-600: #4b65b3;
  --color-blue-700: #3b4f8c;
  --color-blue-800: #2f3f70;
  --color-blue-900: #263359;
  --color-blue-950: #192038;
}

@layer base {
  body {
    background-color: var(--color-neutral-50);
  }
  *::selection {
    background-color: color-mix(
      in srgb,
      var(--color-neutral-500) 10%,
      transparent
    );
    color: var(--color-neutral-900);
  }

  em,
  q,
  i {
    @apply font-serif text-base leading-none italic;
  }

  strong,
  b {
    @apply font-semibold;
  }

  figure[data-rehype-pretty-code-figure] pre {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-200) var(--color-neutral-100);
    @apply overflow-x-auto border border-neutral-200 bg-neutral-100 py-2;
  }

  figure[data-rehype-pretty-code-figure] pre::-webkit-scrollbar {
    @apply h-1 bg-neutral-100;
  }

  figure[data-rehype-pretty-code-figure] pre::-webkit-scrollbar-track {
    @apply bg-neutral-100;
  }

  figure[data-rehype-pretty-code-figure] pre::-webkit-scrollbar-thumb {
    @apply rounded-none bg-neutral-200;
  }

  figure[data-rehype-pretty-code-figure] pre > code {
    counter-reset: line;
  }

  figure[data-rehype-pretty-code-figure] code[data-line-numbers] {
    counter-reset: line;
  }

  figure[data-rehype-pretty-code-figure]
    code[data-line-numbers]
    > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply mr-4 inline-block w-4 text-right text-neutral-400;
  }

  figure[data-rehype-pretty-code-figure]
    code[data-line-numbers-max-digits="3"]
    > [data-line]::before {
    @apply w-5;
  }

  figure[data-rehype-pretty-code-figure]
    code[data-line-numbers-max-digits="4"]
    > [data-line]::before {
    @apply w-7;
  }

  figure[data-rehype-pretty-code-figure] [data-line] {
    @apply border-l border-transparent pl-2;
  }

  figure[data-rehype-pretty-code-figure] [data-highlighted-line] {
    @apply border-l border-blue-400 bg-blue-500/10;
  }

  figure[data-rehype-pretty-code-figure]
    code[data-line-numbers]
    > [data-highlighted-line]::before {
    @apply text-neutral-600;
  }

  figure[data-rehype-pretty-code-figure] [data-highlighted-chars] {
    @apply rounded bg-blue-500/10;
    box-shadow: 0 0 0 2px rgb(21 93 252 / 0.1);
  }

  [data-rehype-pretty-code-title] {
    @apply border-x border-t border-neutral-200 p-2 font-medium;
  }

  [data-rehype-pretty-code-caption] {
    @apply mt-2 text-neutral-500;
  }

  [data-rmiz-content="found"] img,
  [data-rmiz-content="found"] svg,
  [data-rmiz-content="found"] [role="img"],
  [data-rmiz-content="found"] [data-zoom] {
    @apply !cursor-pointer;
  }

  .katex-display {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-200) var(--color-neutral-50);
    @apply overflow-x-auto overflow-y-hidden;
  }

  .katex-display::-webkit-scrollbar {
    @apply h-1 bg-neutral-100;
  }

  .katex-display::-webkit-scrollbar-track {
    @apply bg-neutral-100;
  }

  .katex-display::-webkit-scrollbar-thumb {
    @apply rounded-none bg-neutral-200;
  }
}

@layer components {
  .btn {
    @apply cursor-pointer rounded border border-neutral-400 px-2 py-1 text-xs transition-colors hover:border-neutral-900 hover:text-neutral-900;
  }
}

@layer utilities {
  hr {
    @apply my-8 border-neutral-200;
  }
}

@supports (view-transition-name: none) {
  @media not (prefers-reduced-motion: reduce) {
    ::view-transition-old(crossfade) {
      animation: hide 0.4s cubic-bezier(0.6, 0, 0.8, 1) forwards;
    }

    ::view-transition-new(crossfade) {
      opacity: 0;
      animation: appear 0.6s ease 0.2s forwards;
    }
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(4px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
